* { 
  text-shadow: #a8a8a8 -1px 1px 11px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 { 
  font-family: "Josefin Sans", sans-serif;
  font-size: 5vw;
  margin: 0;
  padding-bottom: 0.5rem;
  letter-spacing: 0.3rem;
  color: #03dac6;
}

p { 
  color: #03dac6;
  font-size: 2vw;
  padding-bottom: 0.5rem;
  letter-spacing: 0.3rem;
}

a { 
  margin: 15px;
  color: #03dac6;
  font-size: 2vw;
  padding-bottom: 0.5rem;
  letter-spacing: 0.3rem;
}